<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <h6><i class="material-icons" style="font-size: 20px">book</i>Product details</h6>
        </div>
        <div class="collapsible-body"><span style="font-size: 13px">{{product.description}}</span></div>
    </li>
    <li>
        <div class="collapsible-header">
            <h6><i class="material-icons" style="font-size: 20px">star</i>Reviews</h6>
        </div>
        <div class="collapsible-body"><span style="font-size: 13px">Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header">
            <h6><i class="material-icons" style="font-size: 20px">keyboard_backspace</i>Returns</h6>
        </div>
        <div class="collapsible-body">
            <span style="font-size: 13px">Lorem ipsum dolor sit amet.</span>
        </div>
    </li>
</ul>