{% extends 'base.html' %}

{% block metadescription %}
    Welcome to dinki, were you can get all your cool Nigeria outfits without hassel
{% endblock metadescription %}

{% block title %} 
    {{ query }}
{% endblock title %}

{% block content %}
    {% comment %} Slider {% endcomment %}
    {% include 'shop/includes/_all_product_slider.html' %}

    <div class="container">
        
        <h4>Search results for {{query}}</h4>

    {% comment %} Breadcrumbs bellow {% endcomment %}   
        <div class="row">
            {% for product in products %}
                {% include 'shop/includes/_item_card.html' %}
            {% empty %}
                <div class="center">
                    <h4>0 results found.</h4>
                    <p><a href="">See out other products</a></p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if products.paginator.num_pages > 1 %}
    <hr>
        <ul class="pagination center">
            <span class="step-links">
                {% if products.has_previous %}
                    <li class="red-text"><a href="?page=1">first</a></li>
                    <li class="waves-effect"><a href="?page={{ products.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}

                {% for pg in products.paginator.page_range %}
                    {% if products.number == pg %}
                        <li class="active"><a href="?page={{ pg }}" class="white-text">{{pg}}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ pg }}" class="red-text">{{pg}}</a></li>
                    {% endif %}
                    
                {% endfor %}

                {% if products.has_next %}
                    <li class="waves-effect"><a href="?page={{ products.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    <li class="waves-effect"><a href="?page={{ products.paginator.num_pages }}">last</a></li>
                {% endif %}
            </span>
        </ul>
    {% endif %}
    
{% endblock content %}